
  <div class="footer">
    <div style="padding: 40px 0px;">
        <div class="footer-container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="mb-6">
                        <img src="./assets/images/churrolto.png" width="120px" alt="churrolto">
                    </div>
                </div>

                <div class="col-lg-3">
                    <ul class="mb-7" style="list-style: none;">
                    <li><a class="font-size-xxs text-dark">Home</a></li>
                    <li>
                        <a class="font-size-xxs text-dark">Menu</a>
                    </li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h6 class="heading-xxs mb-4 fw-600">Contact</h6>
                    <span class="mb-7 font-size-xxs text-dark">Get in touch</span>
                </div>

                <div class="col-lg-3">
                    <h6 class="heading-xxs mb-4 fw-600">Information</h6>
                    <span class="mb-7 font-size-xxs text-dark">Terms & conditions</span>
                </div>

            </div>
        </div>
    </div>
    <div style="padding: 25px 0px;">
        <div class="footer-container">
            <div class="row">
                <div class="col-12">
                    <p class="mb-3 mb-md-0 font-size-xxs text-muted text-center">
                        © Churrolto 2023 All rights reserved.
                        </p>
                </div>
                <div class="col-12" style="text-align: right;">
                    <span class="small">Powered by</span>
                    <br>
                    <img width="70" src="./assets/images/urbandart.gif" alt="Restaurant Food Ordering Website by UrbanDart">
                </div>
            </div>
        </div>
    </div>
</div>

