<div class="bg-white m-0 p-0">
  <div class="toggle-top circle-toggle">
      <span onclick="openNav()">
      <i class="bi bi-list" style="font-size: 3rem;"></i>
     </span>
      <div class="logo-top">
          <img src="assets/images/churrolto.png" alt="" class="img-top">
      </div>
  </div>

  <div class="page-top position-relative">

      <div class="full-video">
          <video width="100%" autoplay loop muted>
              <source src="assets/images/v4_comp.mp4" type="video/mp4">
            </video>
          <div class="bg-white">
              <div class="order-div align-items-center">
                  <div class="col-12 text-center">
                      <div class="card-body">
                          <h4 class="mb-5 text-dark"style="
                          font-weight: 700;">Churreria | Patisserie | Bistro</h4>
                          <p class="mb-7">Sweetest part of your day</p>
                          <div class="align-items-center text-center">
                          <div class="order-button">ORDER
                              <i class="bi bi-arrow-right-short ml-2"></i>
                          </div>
                      </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="story-div">
      <!-- <div class="row image-story">
          <div class="align-items-center">
          <div class="col-6 position-relative image-story-position">
              <img src="assets/images/churro_about.jpeg" class="churro_about">
          </div>
          </div>
          <div class="col-6"></div>
      </div>
  </div> -->
  <div class="container position-relative">
      <div class=" row d-flex align-items-center">
          <div class="col-6 position-relative">
              <img src="assets/images/churro_about.jpeg" class="churro_about">
              <div class="second_imgc">
                  <img src="assets/images/churro2_about.jpeg" class="churro2_about">
              </div>
          </div>

          <div class="col-5 offset-1">
              <h6 class="mb-3 text-grey"> OUR STORY</h6>
              <h2 class="mb-7  about-title" style="font-size: 48px;">About Churrolto</h2>
              <p class="mb-7 about-text" > Serving everyone with something sweet, savoury and a seat.
                   We are a churreria serving soulful churros , a patisserie showcasing
                   European style desserts and a bistro serving global class cuisine.</p>
              <span class="link-underline">Learn more</span>
          </div>
      </div>
  </div>
  </div>

  <div class="row smaller-slide">
      <div class="carousel-container">
          <div class="carousel-slide">
              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/ambience.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/ambience2.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/burger.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/cake.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/churro.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/cake2.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/ambience.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/ambience2.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/burger.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-2 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/cake.jpeg" class="carousel-img" alt="churrolto">
                  </div>
              </div>

          </div>
      </div>

  </div>

  <div class="row larger-slide">
      <div class="carousel-container">
          <div class="lar-carousel-slide">
              <div class="col-3 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/prawn.jpeg" class="carousel-la-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-3 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/pizza.jpeg" class="carousel-la-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-3 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/pastry.jpeg" class="carousel-la-img" alt="churrolto">
                  </div>
              </div>

              <div class="col-3 p-0">
                  <div class="carousel-slide-card">
                      <img src="assets/images/slider1/icecream.jpeg" class="carousel-la-img" alt="churrolto">
                  </div>
              </div>


          </div>
      </div>

  </div>

  <div class="row py-12 bg-white d-block">
      <div class="container">
          <h2 class=" mb-8 text-center section-head">Our customers love us</h2>
          <div class="row">
              <div class="carousel-container">
                  <div class="test-carousel-slide">
                      <div class="col-4 p-0">
                          <div class="carousel-slide-card">
                              <div class="testimonalcard-body">
                                  <blockquote class="mb-0">
                                      <span>
                                          <i class="bi bi-quote"></i>
                                      </span>
                                      <div class="fw-500">The food is amazing and the time within which it was served was impressive.</div>
                                      <div class="mt-4 text-dark">Thanya</div>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-4 p-0">
                          <div class="carousel-slide-card">
                              <div class="testimonalcard-body">
                                  <blockquote class="mb-0">
                                      <span>
                                          <i class="bi bi-quote"></i>
                                      </span>
                                      <div class="fw-500">The food is amazing and the time within which it was served was impressive.</div>
                                      <div class="mt-4 text-dark">Ramya</div>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-4 p-0">
                          <div class="carousel-slide-card">
                              <div class="testimonalcard-body">
                                  <blockquote class="mb-0">
                                      <span>
                                          <i class="bi bi-quote"></i>
                                      </span>
                                      <div class="fw-500">The food is amazing and the time within which it was served was impressive.</div>
                                      <div class="mt-4 text-dark">Pavan</div>
                                  </blockquote>
                              </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>
      </div>
      <div class="text-center">
          <ol class="carousel-dots">
              <li><i class="bi bi-dot"></i></li>
              <li><i class="bi bi-dot"></i></li>
              <li><i class="bi bi-dot"></i></li>
              <li><i class="bi bi-dot"></i></li>
              <li><i class="bi bi-dot"></i></li>
              <li><i class="bi bi-dot"></i></li>
          </ol>
      </div>
  </div>

  <div class="container footer mt-6 mb-4">
      <div style="padding: 40px 0px;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="mb-6">
                          <img src="assets/images/churrolto.png" width="120px" alt="churrolto">
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <ul class="mb-7" style="list-style: none;">
                      <li><a class="font-size-xxs text-dark">Home</a></li>
                      <li>
                          <a class="font-size-xxs text-dark">Menu</a>
                      </li>
                      </ul>
                  </div>

                  <div class="col-lg-3">
                      <h6 class="heading-xxs mb-4 fw-600">Contact</h6>
                      <span class="mb-7 font-size-xxs text-dark">Get in touch</span>
                  </div>

                  <div class="col-lg-3">
                      <h6 class="heading-xxs mb-4 fw-600">Information</h6>
                      <span class="mb-7 font-size-xxs text-dark">Terms & conditions</span>
                  </div>

              </div>
          </div>
      </div>
      <div style="padding: 25px 0px;">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <p class="mb-3 mb-md-0 font-size-xxs text-muted text-center">
                          © Churrolto 2023 All rights reserved.
                          </p>
                  </div>
                  <div class="col-12" style="text-align: right;">
                      <span class="small">Powered by</span>
                      <br>
                      <img width="70" src="assets/images/urbandart.gif" alt="Restaurant Food Ordering Website by UrbanDart">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="mySidenav" class="sidenav">
      <div class="sidenav-content">
      <button class="closebtn"  onclick="closeNav()"><i class="bi bi-x"></i></button>
      <!-- <a href="#" class="closebtn" role="button" (click)="closeNav()"><i class="bi bi-x"></i></a> -->
      <div class="sidenav-body my-auto">
      <!-- <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a> -->
      <ul class="nav">
          <li>
              <a class="nav-link" >
                  Home
              </a>
          </li>

          <li>
              <a class="nav-link" href="C:\Users\sudha.p\source\repos\Churrolto\menu.html" >
                  Menu
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Food
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Cakes
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Work with us
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Subscribe
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Contact
              </a>
          </li>

          <li>
              <a class="nav-link" >
                  Account
              </a>
          </li>



      </ul>
      </div>
      <div class="nav-footer">
          <ul>
              <li>
                  <a>
                      <i class="bi bi-facebook"></i>
                  </a>
              </li>
              <li>
                  <a>
                      <i class="bi bi-instagram"></i>
                  </a>
              </li>
              <li>
                  <a>
                      <i class="bi bi-youtube"></i>
                  </a>
              </li>
          </ul>
      </div>
      </div>
    </div>

</div>

