@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body{
    font-family: sans-serif !important;
}
.page-top{

}

.toggle-top{
    margin:20px 0px 0px 20px;
    background-color: #fff;
    box-shadow:  0px 3px 15px #00000045;
    border-radius: 50px;
    width:40px
}

.circle-toggle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo-top{
    position:absolute;
    text-align: left;
    margin-left: 100px;
    margin-top:10px;
    left: 50px;
    top:15px;
    z-index: 200;
}
.img-top{
    margin:15px 20px 15px 0px;
    width: 600px;
    height:120px;
    width:600px
}

.full-video{
    background-color: white;
    margin-top: 50px;
}
.order-div{
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 62px !important;
    margin-left: 62px !important;
}

.card-body{
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    text-align: center;
}

.order-button{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 15px;
    padding: 14px 28px;
    width:140px
}

.order-button:hover{
    background-color: black;
    color: white;
}

.story-div{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color:#ece6dd ;
}

.image-story{
    margin-left: 61.667px;
    margin-right: 61.667px;
}

.image-story-position{
    padding-left: 16px;
    padding-right:16px;
}

.churro_about{
    width:50%;
    border-radius: 15px;
}

.second_imgc{
    text-align: right;
    margin-top:-12rem !important;
}

.churro2_about{
    width:75%;
    border-radius: 15px;
}

.about-title{
    letter-spacing: 0.03rem;
    font-weight: 700;
    color: #000000!important;
}

.about-text{
    line-height: 1.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
}

.link-underline{
position: relative;
display: inline-block;
padding-left: 1.25rem;
padding-right: 1.25rem;
font-weight: 500;
color:black
}

.carousel-container, .lar-carousel-container, .test-carousel-container {
 position:relative;
 margin:auto   ;
 overflow: hidden;
}

.carousel-slide, .lar-carousel-slide, .test-carousel-slide{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide-card, .lar-carousel-slide-card, .test-carousel-slide-card{
    padding: 1px;
    display: block;
    float:left;
    box-sizing: border-box;
    position:relative;
    flex: 0 0 auto;

}

.carousel-img{
    width:210px;
    height:210px
}

.carousel-la-img{
    width:314px;
    height:314px
}

.section-head{
    font-size: 3rem;
    font-weight:700
}

.testimonalcard-body{
    padding:40px
}

.carousel-dots{
    list-style: none;
    display: inline-flex;
    line-height: 1;
    padding: 0px;
    margin: 0px;
}

.carousel-dots li{
        font-size: 50px;
        color: #333;
        margin-right: -25px;
}

.carousel-dots li:hover{
    color: #ff6f61 ;
    cursor: pointer;
}

.footer{
    background:#ece6dd;
    border-radius: 20px;
}

.sidenav {
    display:block;
    padding-right:17px;
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    background-color: #fff;
    background-clip: padding-box;
    overflow-x: hidden;
    overflow-y:hidden;
    padding-top: 60px;
    transform: translateX(-350px);
    transition: transform 0.5s;
  }

  .sidenav-content{
    position:relative;
    display:flex;
    flex-direction: column;
    pointer-events: auto;

  }

  .sidenav a {
    text-decoration: none;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #ff6f61;
  }

   /* .closebtn {
    display: flex;
    justify-content: end;
    border: none;
    background: none;
    font-size: 35px;
    font-weight:600;
    line-height: 1;
    color:#a6a6a6;
    opacity:0.5;
    text-decoration: none;
    cursor : pointer;
  } */

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    color: #a6a6a6;
    opacity: 0.5;
    text-decoration: none;
    z-index: 100;
    border: none;
    background-color:#fff;
}

  .sidenav-body{
    padding: 32px 64px ;
    position: relative;
  }

  .nav{
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link{
    font-weight: 500;
    color:#111;
    display:block;
    padding:8px 16px;
  }

  .nav-footer{
    padding :32px 64px
  }

  .nav-footer ul{
    padding-left: 0px;
    list-style: none;
  }

  .nav-footer li{
    margin-right: 0.5rem;
    display: inline-block;
  }

  .nav-footer a{
    color:#a6a6a6!important;
    font-size: 15px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
  }



